<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="javascripts/users.js" defer></script>

    <title>Users</title>
  </head>
  <body>
    <header><h2>Users Management:</h2></header>
    <main>
      <ul>
        <%users.forEach((user)=>{%> <% if (user.role === "admin") { %>
        <li><strong class="admin"><%= user.username %></strong></li>
        <% } else { %>
        <li><%= user.username %></li>
        <button onclick="deleteUser('<%= user.username %>')">Delete</button>
        <% } %>

        <a href="/users/<%= user.username %>"><button>Update</button></a>
        <%})%>
      </ul>

      <% if (status) { %>
      <p>The user was successfully <%= status %>.</p>
      <% } %>

      <div class="create-new-user-btn">
        <a href="/users/create">
          <button class="create">Create New User</button>
        </a>
      </div>

      <div class="back">
        <a href="/"><button class="back-btn">Back</button></a>
      </div>
    </main>
  </body>
</html>
