<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="javascripts/users.js" defer></script>

    <title>Users</title>
  </head>
  <body>
    <main>
      <h2>Users Management:</h2>

      <ul>
        <%users.forEach((user)=>{%> <% if (user.role === "admin") { %>
        <li><strong class="admin"><%= user.username %></strong></li>
        <% } else { %>
        <li><%= user.username %></li>
        <button class="back-btn" onclick="deleteUser('<%= user.username %>')">
          Delete
        </button>
        <% } %>

        <a href="/users/<%= user.username %>">
          <button class="back-btn">Update</button>
        </a>
        <%})%>
      </ul>

      <% if (status) { %>
      <p>The user was successfully <%= status %>.</p>
      <% } %>

      <div class="create-new-user-btn">
        <a href="/users/create">
          <button class="create long-btn">Create New User</button>
        </a>
      </div>
      <br />
      <div class="back">
        <a href="/"><button class="back-btn">Back</button></a>
      </div>
    </main>
  </body>
</html>
